
		.warna_background {

			background-color: black;
			color: white;
		}

		.warna_dua {

			background-color: yellow;

		}



	

		.form {


			float: left;

		}

		.lirik_tengah {

			text-align: center;

		}

		.lirik_kiri {

			text-align: left;

		}


