<!DOCTYPE html>
<html>
<head>
	<title>Test Individu</title>
	<link rel="stylesheet" type="text/css" href="design.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">

</head>
<body>
	<h1 class="lirik_tengah">Lirik Lagu</h1>
	<p class="lirik_tengah"> bila nanti saatnya tlah tiba..</p>
	<div align="left"> Kuingin <i>kau</i> menjadi istriku...</div>
	<div align="right">Berjalan bersamamu dalam terik dan hujan</div>
</br>
</br>
</br>
<br class="lirik_kiri">Berlarian kesana kemari dan tertawa ...</br>
Namun bila saat berpisah tlah tiba izinkan ku menjaga <b>dirimu...</b>
</br>
</br>
<p class="lirik_tengah">berdua menikmati pelukan diujung waktu...</p>
<div align="center"><u>Sudilah kau menjadi istriku...</u></div>

</br>
</br>



<div class="container">
<div class="left">
<div class="col-xs-20">
<table class="table table-striped" >
	<tr>
		<th>No.</th>
		<th>ID Anggota</th>
		<th>Nama</th>
		<th>Keterangan</th>

	</tr>


	<tr>
		<th>1.</th>
		<th>101010</th>
		<th>Sofie Giska</th>
		<th>Ketua</th>

	</tr>

	<tr class="warna_dua">
		<th>2.</th>
		<th>111111</th>
		<th>Ouka</th>
		<th>Anggota</th>

	</tr>

	<tr>
		<th>2.</th>
		<th>121212</th>
		<th>Shicibukai</th>
		<th>Anggota</th>

	</tr>

</table>
</br>

<form>
	<fieldset class="form">
		<legend>Form Daftar Login

		</legend>
		<label>Nama *</label><br>
		<input type="email" class="form-control" id="inputEmail3" placeholder="Nama">
		<br>
		<label>Password *</label></br>
		<input type="email" class="form-control" id="inputEmail3" placeholder="Password">
	</br>
	<label>Hak Akses *</label></br>
	  <select ng-model='discussionsSelect' class='btn-primary btn-block'>
            <option value='total'>Super Admin</option>
            <option value='created'>Tamu</option>
            <option value='read'>Admin Biasa</option>
          
          </select>
</br>
<button type="button" class="btn btn-success">Daftar</button>
</body>
</html>